form {
  display: flex;
  justify-content: center;
}

.container {
  background-color: #e1e9f6;
  width: 300px;
  max-width: 500px;
  height: 250px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.wthcontent {
  padding: 10px 10px;
  width: 100%;
  box-sizing: border-box;
}

input,
select {
  border: 1px solid rgb(161, 160, 160);
  border-radius: 4px;
  margin: 6px 0;
}

.submit {
  background-color: #4caf50;
  /* background-color: rgb(255, 160, 160); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.submit:hover {
  opacity: 0.8;
}
